{% extends 'base.html' %}

{% block content %}
    <h2>DB view</h2>
    <!--<form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <button type="submit">Filter</button>
    </form>-->
    <br>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% csrf_token %}
        <div class="filter">
            <select id="filter-year">
                <option value="2015">2015</option>
                <option value="2016">2016</option>
                <option value="2017">2017</option>
                <option value="2018">2018</option>
                <option value="2019">2019</option>
                <option value="2020">2020</option>
            </select>
            <button type="submit" id="apply-filter-btn">Apply</button>
        </div>
    </form>
    <table id="db_table">
        <tr>
            <th>Word</th>
            <th>Counter</th>
        </tr>
        {% for word in words %}
            <tr>
                <td>{{ word.word }}</td>
                <td>{{ word.counter }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}