{% extends 'base.html' %}

{% block content %}
    <h2>Upload</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input id="files" type="file" name="documents" multiple>
        <label style="display: block" for="text-input">Text input:</label>
        <textarea id="text-input" rows="4" cols="50" name="txt_input"></textarea>
        <br>
        <br>
        <label for="filter-year">Upload year: </label>
        <select id="filter-year" name="year">
            <option value="2010">2010</option>
            <option value="2011">2011</option>
            <option value="2012">2012</option>
            <option value="2013">2013</option>
            <option value="2014">2014</option>
            <option value="2015">2015</option>
            <option value="2016">2016</option>
            <option value="2017">2017</option>
            <option value="2018">2018</option>
            <option value="2019">2019</option>
            <option value="2020">2020</option>
            <option value="2021">2021</option>
            <option value="2022">2022</option>
            <option value="2023">2023</option>
            <option value="2024">2024</option>
            <option value="2025">2025</option>
        </select>
        <button style="display: block" type="submit" id="btn_submit" onClick="submit_click()">Upload</button>
        <br>
        <p id="done">Done!!!</p>
        <script>
            function submit_click() {
                var x = document.getElementById("done");
                x.style.display = "none";
            }

            document.getElementById("filter-year").onchange = function () {
                localStorage.setItem('sel_item', document.getElementById("filter-year").value);
            };

            if (localStorage.getItem('sel_item')) {
                document.getElementById("filter-year").value = localStorage.getItem('sel_item');
            }
        </script>
        {% if result == 1 %}
            <script> document.getElementById("done").style.display = "block"; </script>
        {% elif result == 0 %}
            <script>alert("Please, choose the file or input the text first!");</script>
        {% elif result == -1 %}
            <script>alert("{{ filename }} has already been uploaded!");</script>
        {% endif %}
    </form>
{% endblock %}