{% extends 'base.html' %}

{% block content %}
    <h2>Visualization</h2>
    <p>* Please, chose a filter options and press 'Apply'</p>
    <form method="post" enctype="multipart/form-data" id="myForm">
        {% include 'filters/filter.html' %}
        {% include 'filters/chart_period_filter.html' %}
        <p>Topic modeling filters:</p>
        <div style="border: 1px solid #000000; margin-top: -20px; padding: 10px; width: 50%">
            {% include 'filters/topic_number_filter.html' %}
            {% include 'filters/text_type_filter.html' %}
            <label for="quantity">Top words/collocations count: </label>
            <input required type="number" id="quantity" name="top_count" min="1" max="5000">
        </div>
        <br>
        <button type="submit" id="apply-filter-btn">Apply</button>
        <br>
        <div class="chart-container">
            <h4 class="center center-align"> - - - Top 5 Word Trend - - - </h4>
            {% if is_word_chart_data_exists == 1 %}
                <canvas id="word_trend" width="400" height="200"></canvas>
                <script>
                    var word_data = {{ word_chart_data|safe }};
                </script>
            {% else %}
                <h5 class="center center-align"> No data </h5>
            {% endif %}
        </div>
        <br>
        <div class="chart-container">
            <h4 class="center center-align"> - - - Top 5 Collocations - - - </h4>
            {% if is_collocation_chart_data_exists == 1 %}
                <canvas id="collocation_trend" width="400" height="200"></canvas>
                <script>
                    var collocation_data = {{ collocation_chart_data|safe }};
                </script>
            {% else %}
                <h5 class="center center-align"> No data </h5>
            {% endif %}
        </div>
        <br>
        <div id="wordcloud-container">
            <h4 class="center center-align"> - - - Word Cloud - - - </h4>
            {% if is_wc_data_exits == 1 %}
                <img class="center" id="wordcloud" src="/media/tmp_wordcloud/wc.png">
            {% else %}
                <h5 class="center center-align"> No data </h5>
            {% endif %}
        </div>
        <br>
        <div id="topics-container">
            <h4 class="center center-align"> - - - Topics - - - </h4>
            {% if is_topics_data_exits == 1 %}
                <script>
                    var topic_data = {{topics_data|safe }};
                    console.log(topic_data);
                </script>
                <table id="db_table">
                    <tr>
                        <th>No.</th>
                        <th>Text</th>
                        <th>Topic</th>
                        <th>Year</th>
                    </tr>
                    {% for topic_data in topics_data %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ topic_data.text }}</td>
                            <td>{{ topic_data.topic }}</td>
                            <td>{{ topic_data.year }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <h5 class="center center-align"> No data </h5>
            {% endif %}
        </div>

    </form>

{% endblock %}